@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.add-dish-body{
    position: relative;
    margin: auto;
    background-color: $white;
    width: 433px;
    height: 440px;
    padding: 28px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 5px;

    @include _mobile{
        width: 85%;
        padding: 16px;
        height: 370px;

    }
    @include _350-450{
        height: 85%;
        padding: 10px 20px;
    }
}
.dish-body-title{
    flex: 1;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: $dark;
}
.form-dish {
    flex: 9;
    max-height: calc(100% - 25px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__name{
        margin-top: 15px;
        flex: 1;
    }
    &__description{
        flex: 9;
        margin-top: 17px;
        height: 159px;
        
        @include _350-450{
            height: 190px;
        }
    }
    &__name,
    &__description{
        width: 343px;
        padding: 8px 8px;
        border: 1px solid $txtgrey;
        box-sizing: border-box;
        font-family: 'Roboto';
        font-size: 18px;
        line-height: 21px;  
        align-self: center;
        border-radius: 5px;

        @include _mobile{
            width: 100%;
        }
    }
    
    &__button{
        flex: 1;
        padding: 8px 18px;
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        background-color: $grey;
        border: 1px solid $txtgrey;
        box-sizing: border-box;
        width: 343px;
        align-self: center;
        margin-top: 17px;
        cursor: pointer;
        border-radius: 5px;

        @include _mobile{
            width: 100%;
            padding: 15px 18px;
        }
    }
}

.dish-body-close{
    position: absolute;
    top: 28px;
    right: 28px;
    cursor: pointer;
    height: 25px;
    width: 25px;
    border: 1px solid $dark;
    background-color: rgba(241, 111, 93, 0.904);
    border-radius: 5px;

    @include _mobile{
        top: 15px;
        right: 15px;
    }
    @include _350-450{
        top: 10px;
        right: 20px;
    }
}