@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.app-body-ramdom .container {
    padding-top: 20px;
}
.button{
    padding: 12px 77px;
    border: 1px solid $grey;
    background-color: $grey;
    font-weight: 400;
    font-size: 18px;
    color: $dark;
    cursor: pointer;
    border-radius: 5px;

    @include _mobile{
        padding: 15px 60px;
    }
}
.button:hover{
    background-color: $white;
}
.buttons{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 390px;
    display: flex;
    justify-content: space-between;

    @include _mobile{
        width: 90%;
    }
}



